<div id="title-logo-row" class="d-flex mt-5 mb-5">
  <div id="logo-col" class="flex-cloumn col-3 d-flex justify-content-center align-self-start">
    <img src="./assets/Asset%201.svg" alt="sgsvg" width="200" height="100">
  </div>
  <div id="title-col" class="d-flex  col-6 justify-content-end pt-5 ">
    <h1 >Gestion Virement Automatique</h1>
    <hr id="red-dvider" >
  </div>

</div>

<div id="progress-row" class="d-flex justify-content-md-center align-items-center ">


</div>
<div class="container">
  <div class="card ">
    <div class="card-body">
      <div class="wrapper">
        <div class="side-col">
            <div class="info item-container mb-5">
              <img id="main-profil" src="./assets/proj.jpg" alt="profil pic"  >
              <h1>Consultation Virement Automatique</h1>
              <h3>Narjis el Mouden</h3>
              <h5>Charger d'accueil</h5>
            </div>
          <br>
              <app-form-ca></app-form-ca>
<!--
<app-task-gest></app-task-gest>
-->
        </div>
      </div>
    </div>
  </div>
</div>
