<nav id="navbar-me" class="navbar d-flex ">
  <div class="container ms-5 ">
    <a id="brand" class="navbar-brand col-9 ms-5" href="#">SG V-auto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-4" id="navbarText">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item active">
          <a id="nav-link" class="nav-link" href="#">Logout </a>
        </li>
        <li class="nav-item">
          <a id="nav-link" class="nav-link" href="#">Aicha</a>
        </li>
      </ul>
    </div>


  </div>
</nav>
