<nav id="navbar-me" class="navbar d-flex ">
  <div class="container ms-5 ">
    <a id="brand" class="navbar-brand  ms-5" href="#">SG V-auto</a>
    <ul class="d-flex ">
      <li class="nav-item active">
        <a id="nav-link" class="nav-link" href="/task-gest">Gestionaire </a>
      </li>
      <li class="nav-item ms-4">
        <a id="nav-link" class="nav-link" href="/task-approb">Approbateur</a>
      </li>
    </ul>
    <div class="d-flex " id="navbarText">
      <ul class="navbar-nav  d-flex flex-row ">
        <li class="nav-item active">
          <a id="nav-link" class="nav-link" href="#">Logout </a>
        </li>
        <li class="nav-item ms-2">
          <a id="nav-link" class="nav-link" href="#">Aicha</a>
        </li>
      </ul>
    </div>


  </div>
</nav>
