<h2>List Virement Automatique</h2>

<hr class="divider ">
<br>

<table class="table table-striped mt-4">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Operation</th>
    <th scope="col">Date</th>
    <th scope="col">Decision</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td> validation Vrt </td>
    <td>21/02/2023</td>
    <td>
      <button type="submit" class="btn btn-success"> valider</button>
      <button type="submit" class="btn btn-danger ms-3"> rejeter</button>
    </td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Larry</td>
    <td>the Bird</td>
    <td>@twitter</td>
  </tr>
  </tbody>
</table>
