<h2>List Virement Automatique</h2>

<hr class="divider ">
<br>

<table class="table table-striped mt-4">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Operation</th>
    <th scope="col">Date</th>
    <th scope="col">Decision</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of  taskList ">
    <th scope="row">{{item.id}}</th>
    <td>  {{item.name}}</td>
    <td>{{item.created}}</td>
    <td>
      <form method="POST" enctype="text/plain">
        <div class="form-group d-flex">
          <input type="button" class="form-control btn btn-success" value="valider" (click)="handleTaskValidation(item.id)">
          <input type="button" class="form-control btn btn-danger ms-3"  value="rejeter">
        </div>
      </form>
    </td>
  </tr>

  </tbody>
</table>
