<h2>List Virement Automatique</h2>

<hr class="divider ">
<br>

<table class="table table-striped mt-4">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Operation</th>
    <th scope="col">Date</th>
    <th scope="col">Decision</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of  taskList ">
    <th scope="row">{{item.id}}</th>
    <td>  {{item.name}}</td>
    <td>{{item.created}}</td>
    <td>
      <button type="submit" class="btn btn-success"> valider</button>
      <button type="submit" class="btn btn-danger ms-3"> rejeter</button>
    </td>
  </tr>

  </tbody>
</table>
